.headline{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display:flex;
    flex-wrap:wrap;
    margin:20px
}
img{
    width: 400px;
    margin: 15px;
}
img:hover{
    transform: scale(1.2);
}